<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div align="center" class="mx-auto">
      <label for="shortenURL">URL Shortener</label>
      <div style="font-size: 24px;">
        <i class="fas fa-link fa-10x"></i>
      </div>
    </div>

    <form class="flex-grow-1" action="/" method="POST" id="create">
      <div class="form-group mx-auto">

        <input type="url" class="form-control" id="inputURL" placeholder="Input the URL you want to shorten">

      </div>
      <div align="center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>

</div>